body {
    overscroll-behavior: none;
    font-family: Rubik;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.bouncey-boi {
    animation-name: bounce;
}

.flame {
    animation: flame 1s 3;
    transform-origin: bottom;
}

@-webkit-keyframes borderBlink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #ff1f1f;
    }
}
@keyframes borderBlink {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #ff1f1f;
    }
}
.borderBlink {
    border: 2px solid #ff1f1f;
    -webkit-animation: borderBlink 1s step-end infinite;
    animation: borderBlink 1s step-end infinite;
}
