body {
    overscroll-behavior: none;
}

.notes-editor {
    padding: 2px 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    outline: none;
}
.notes-editor:focus {
    background-color: rgba(118, 61, 225, 0.1);
}

.description-link {
    cursor: pointer;
    color: #06b7db;
    text-decoration: underline;
}

.ProseMirror p.is-editor-empty:first-child::before {
    height: 0;
    float: left;
    color: #99a0c2; /*color is grey.500*/
    pointer-events: none;
    content: attr(data-placeholder);
}

.react-datepicker__day {
    font-size: 16px;
    color: #41486c !important;
    font-weight: 500;
    margin: 4px !important;
}
.react-datepicker__day:hover {
    background-color: #ffb3b3 !important;
}

.react-datepicker__header {
    font-size: 16px;
    background-color: #ff7979 !important;
    color: #41486c !important;
    border-top-right-radius: 14px !important;
    border-top-left-radius: 14px !important;
}

.react-datepicker__current-month {
    color: #41486c !important;
}

.react-datepicker__day-names {
    font-weight: 500;
    font-size: 16px;
    color: #41486c !important;
}
.react-datepicker__day-name {
    margin: 4px !important;
    color: #41486c !important;
}

.react-datepicker {
    border-radius: 16px !important;
    border: 2px solid #41486c !important;
    box-shadow: 0px 4px 8px 0 rgba(56, 96, 165, 0.15);
}

.react-datepicker__day--selected {
    color: #fafafa !important;
    background-color: #ff5757 !important;
}

.react-datepicker__navigation {
    padding-top: 16px !important;
}

.react-datepicker__navigation--next {
    border: #3860b8 !important;
}

.react-datepicker__day .react-datepicker__day--keyboard-selected {
    border-color: #522ed6 !important;
}

.react-datepicker__triangle {
    border-bottom-color: #41486c !important;
}
.react-datepicker__triangle::before {
    border-bottom-color: #41486c !important;
}
.react-datepicker__triangle::after {
    border-bottom-color: #41486c !important;
}

.react-datepicker__day--today {
    background-color: #ff8c8c !important;
}

.react-datepicker__navigation-icon::before {
    border-color: #636da1 !important;
}

.llamaChip:hover > div {
    visibility: visible;
    opacity: 1;
    width: 100%;
    padding-left: 8px;
    margin-right: -12px;
    transition: all 200ms ease;
    transition-property: opacity, padding;
}

.react-datepicker-wrapper {
    width: unset !important;
}
/* when */
.when .react-datepicker__day {
    font-size: 16px;
    color: #41486c !important;
    font-weight: 500;
    margin: 4px !important;
}
.when .react-datepicker__day:hover {
    background-color: #d1e8e2 !important;
}

.when .react-datepicker__header {
    font-size: 16px;
    background-color: #61c6ad !important;
    color: #41486c !important;
    border-top-right-radius: 14px !important;
    border-top-left-radius: 14px !important;
}

.when .react-datepicker__current-month {
    color: #41486c !important;
}

.when .react-datepicker__day-names {
    font-weight: 500;
    font-size: 16px;
    color: #41486c !important;
}
.when .react-datepicker__day-name {
    margin: 4px !important;
    color: #41486c !important;
}

.when .react-datepicker {
    border-radius: 16px !important;
    border: 2px solid #41486c !important;
    box-shadow: 0px 4px 8px 0 rgba(56, 96, 165, 0.15);
}

.when .react-datepicker__day--selected {
    color: #fafafa !important;
    background-color: #46bc9f !important;
}

.when .react-datepicker__navigation {
    padding-top: 16px !important;
}

.when .react-datepicker__navigation--next {
    border: #3860b8 !important;
}

.when .react-datepicker__day .react-datepicker__day--keyboard-selected {
    border-color: #522ed6 !important;
}

.react-datepicker__triangle {
    border-bottom-color: #41486c !important;
}
.when .react-datepicker__triangle::before {
    border-bottom-color: #41486c !important;
}
.when .react-datepicker__triangle::after {
    border-bottom-color: #41486c !important;
}

.when .react-datepicker__day--today {
    background-color: #a2d1c5 !important;
}

.when .react-datepicker__navigation-icon::before {
    border-color: #636da1 !important;
}
